@use '@/styles/vars' as *

.slidePanel
  &_Backdrop
    position: fixed
    inset: 0
    background: var(--color-modal-bg)
    z-index: calc(var(--index-slidepanel) - 1)
    opacity: 0
    pointer-events: none
    &[data-open="true"]
      pointer-events: auto

  &_Container
    position: fixed
    top: 0
    right: -1px
    bottom: 0
    width: 100vw
    max-width: 100%
    min-height: 100lvh
    z-index: var(--index-slidepanel)
    overflow: hidden
    pointer-events: none
    background: var(--color-app)
    will-change: transform
    backface-visibility: hidden
    -webkit-backface-visibility: hidden
    overscroll-behavior: none
    outline: none
    &[data-open="true"]
      pointer-events: auto

  &_Scroller
    position: relative
    z-index: 1
    min-height: 100%
    height: 100%
    overflow-y: auto
    scrollbar-width: none
    -ms-overflow-style: none
    -webkit-overflow-scrolling: touch
    overscroll-behavior: contain
    &::-webkit-scrollbar
      display: none

  &_Background
    position: absolute
    inset: 0
    z-index: 0
    overflow: hidden
    pointer-events: none
    background: var(--color-app)
    background: color-mix(in srgb, var(--color-app) 82%, transparent)

  &_Content
    position: relative
    min-height: 100%
    display: flex
    flex-direction: column
    padding-top: var(--space-content-top)
    gap: var(--space-headcontent-gap)
    flex-grow: 1

  &_Header
    position: sticky
    top: 0
    z-index: +1
    display: flex
    align-items: center
    padding: 0 var(--space-sides-general-wide)
    flex-shrink: 0
    height: 50px
    background-color: transparent
    border-bottom: var(--border-header)
    border-bottom-width: 0
    transition: background-color var(--transition-theme), border-bottom-width var(--transition-header-border)
    &[data-stuck="true"]
      background-color: var(--color-app)
      border-bottom-width: 1px
