.slidePanel
  &_Backdrop
    position: fixed
    inset: 0
    background: var(--color-modal-bg)
    z-index: 99
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease-in-out
    &[data-open="true"]
      opacity: 1
      pointer-events: auto

  &_Container
    position: fixed
    top: 0
    right: -1px
    bottom: 0
    width: calc(100vw + 1px)
    max-width: 100%
    background: var(--color-app)
    outline-left: 1px solid var(--color-text)
    transform: translateX(calc(100% + 1px))
    transition: transform 0.33s ease
    z-index: 100
    overflow-y: auto
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
      display: none
    &[data-open="true"]
      transform: translateX(0)

  &_Content
    position: relative
    height: 100%
    display: flex
    flex-direction: column
    padding-top: var(--space-top)
    gap: var(--space-headcontent-gap)

  &_Header
    position: sticky
    top: 0
    display: flex
    align-items: flex-shrink
    padding: 8px var(--space-sides-general)
    flex-shrink: 0
    background: var(--color-app)
