.slidePanel
  &_Backdrop
    position: fixed
    inset: 0
    background: var(--color-modal-bg)
    z-index: calc(var(--index-slidepanel) - 1)
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease-in-out
    &[data-open="true"]
      opacity: 1
      pointer-events: auto

  &_Container
    position: fixed
    top: 0
    right: -1px
    bottom: 0
    width: 100vw
    max-width: 100%
    background: var(--color-app)
    transition: opacity 0.33s ease
    z-index: var(--index-slidepanel)
    overflow-y: auto
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
      display: none
    &[data-open="true"]
      opacity: 1

  &_Content
    position: relative
    height: 100%
    display: flex
    flex-direction: column
    padding-top: var(--space-top)
    gap: var(--space-headcontent-gap)

  &_Header
    position: sticky
    top: 0
    display: flex
    align-items: flex-shrink
    padding: 16px var(--space-sides-general)
    border: 1px solid red
    flex-shrink: 0
    background: var(--color-app)
    z-index: calc(var(--index-slidepanel) + 1)
