.backgroundGradient
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  inset: 0
  z-index: -1
  pointer-events: none
  user-select: none
  background-image: url('/textures/bg-gradient.png')
  border-image-repeat: repeat
  background-position: center
  background-size: 200px
  background-repeat: repeat
  filter: grayscale(1) contrast(220%) brightness(68%)
  opacity: calc(var(--background-gradient-active, 0) * var(--background-gradient-opacity, 0.1))
  transition: opacity var(--transition-theme)
  border: 1px solid red
