$res-tabled: 745px

// Font Mixins
@mixin font-body
  font-size: var(--type-body)
  line-height: 1.54
  letter-spacing: 0.02em

@mixin font-title
  font-size: var(--type-title)
  line-height: 1.45

@mixin font-caption
  font-size: var(--type-caption)
  line-height: 1.45

@mixin font-nav
  font-size: var(--type-nav)
  line-height: 1.25

@mixin font-data
  font-size: var(--type-data)
  line-height: 1.25

@mixin font-button
  font-size: var(--type-button)
  line-height: 1.25

@mixin font-meta
  font-size: var(--type-meta)
  line-height: 1.25

@mixin font-summary
  font-size: var(--type-summary)
  line-height: 1.25

@mixin font-count
  font-size: var(--type-count)
  line-height: 1

// Utility Mixins
@mixin underline($color, $height: 1px)
  content: ''
  position: absolute
  bottom: -2px
  left: 0
  display: block
  width: 100%
  height: $height
  background: $color
