@use '@/styles/vars' as *

.entryList
  padding: 0 var(--space-sides-general)
  display: grid
  align-items: start
  gap: 1.5rem
  grid-template-columns: repeat(1, 1fr)
  @media (min-width: 800px)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 1200px)
    grid-template-columns: repeat(3, 1fr)
  @media (min-width: 1600px)
    grid-template-columns: repeat(4, 1fr)
  @media (min-width: 2000px)
    grid-template-columns: repeat(5, 1fr)

  &_Footer
    padding: 2rem var(--space-sides-general)
    display: flex
    justify-content: center

.entryList[data-layout='youtube']
  grid-template-columns: repeat(2, 1fr)
  @media (min-width: 750px)
    grid-template-columns: repeat(3, 1fr)
  @media (min-width: 1000px)
    grid-template-columns: repeat(4, 1fr)
  @media (min-width: 1250px)
    grid-template-columns: repeat(5, 1fr)
  @media (min-width: 1500px)
    grid-template-columns: repeat(6, 1fr)

.entryList[data-layout='instagram']
  grid-template-columns: repeat(6, 1fr)
  @media (max-width: 2000px)
    grid-template-columns: repeat(5, 1fr)
  @media (max-width: 1450px)
    grid-template-columns: repeat(4, 1fr)
  @media (max-width: 1150px)
    grid-template-columns: repeat(3, 1fr)
  @media (max-width: 550px)
    grid-template-columns: repeat(2, 1fr)

.entryList[data-layout='youtube'] .entryList_Footer
  grid-column: 1 / -1

.entryList[data-layout='youtube'] .lazyEntryWrapper
  min-height: 0

.entryList[data-layout='instagram'] .entryList_Footer
  grid-column: 1 / -1

.entryList[data-layout='instagram'] .lazyEntryWrapper
  min-height: 0

.entryList[data-layout='twitter'] .entryList_Footer
  grid-column: 1 / -1

.entryList[data-layout='twitter'] .lazyEntryWrapper
  min-height: 0

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.lazyEntryWrapper
  min-height: 38.5px
  animation: fadeIn 0.6s ease-in-out forwards

.muted
  @include font-body
  color: var(--color-text-secondary)
  font-style: italic
  padding: 0.5rem 0
