@use '@/styles/vars' as *

.entryList
  padding: 0 var(--space-sides-general-wide)
  
  display: flex
  flex-direction: column

.entryList_Items
  position: relative

.entryList_Row
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: grid
  gap: 1.5rem

.entryList_Footer
  padding: 2rem var(--space-sides-general-wide)
  
  display: flex
  justify-content: center

.muted
  @include font-body
  color: var(--color-text-secondary)
  font-style: italic
  padding: 0.5rem 0
