@import '@/styles/vars.sass'

.labelWithCount
  display: inline-flex
  align-items: baseline
  @include font-body
  color: var(--color-text)

.count
  @include font-count
  color: var(--color-text-secondary)
  transform: translateY(-6px)
  border: 1px solid red
