.entryItem
  &_Body
    display: flex
    flex-direction: column
    gap: 0.5rem
  &_Header
    display: flex
    flex-direction: column
    gap: 2px
  &_Meta
    display: flex
    justify-content: space-between
    padding: 0 var(--space-sides-general)
    color: var(--color-text-secondary)
    @include font-meta
  &_Preview
    @include font-summary
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
