@import '@/styles/vars.sass'

.header
  position: sticky
  top: 0
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  background: var(--color-app)
  z-index: calc(var(--index-newsfeed) + 1)
  overflow: visible
  height: 2rem
  &_Left
    display: flex
    flex-direction: row
    align-items: center
    flex: 0 0 auto
    background: var(--color-app)
    height: 2rem
  &[data-categories-open="true"] &_Left
    border-right: var(--border-containers)
  &_Menu
    padding: 0 var(--space-sides-general)
    width: auto
    transition: width .33s ease-in
  &_Search
    display: flex
    align-items: center
    gap: 4px
    padding: 0 var(--space-sides-general)
    width: auto
    transition: width 2s ease-in
  &_Offline
    @include font-nav
    color: var(--color-text-secondary)
    padding: 0 var(--space-sides-general)
  &_Categories
    opacity: 1
    width: auto
    padding: 0 var(--space-sides-general)
    transition: width var(--transition-header-toggle), padding var(--transition-header-toggle)
  &[data-categories-open="true"]
    .header
      &_Categories
        width: 0
        opacity: 0
        padding: 0
        pointer-events: none
  &_isCategoriesOpen
    display: flex
    align-items: center

  &_CategoryList
    list-style: none
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    justify-content: flex-start
    gap: 12px
    overflow-x: auto
    scrollbar-width: none
    -ms-overflow-style: none
    flex: 1 1 auto
    padding: 0 var(--space-sides-general)
    height: 2rem
    width: 100%
    &::-webkit-scrollbar
      display: none

.categoryItemActive
  color: var(--color-text)

.searchInput
  font-size: var(--type-input)
  line-height: 1
  min-width: 3.25rem
  width: 100px
  max-width: 35vw
  color: var(--color-text)
  border-bottom: 1px solid transparent
  transition: border-color 0.165s ease
  outline: none
  field-sizing: content
  height: 2rem
  &::placeholder
    color: var(--color-text-secondary)
  &:focus
    border-bottom: 1px solid var(--color-text)
  @include underline(var(--color-text))
