@use '@/styles/vars' as *

.tipsPage
  position: relative
  min-height: 100%
  width: 100%
  background: var(--color-app)
  color: var(--color-text)

.content
  display: flex
  flex-direction: column
  gap: var(--space-headcontent-gap)
  padding-top: var(--space-content-top)
  padding-bottom: var(--space-content-bottom)
  min-height: 100%

.backButton
  display: inline-flex
  align-items: flex-end
  gap: 4px
  padding: 0 var(--space-sides-general)
  @include font-nav
  color: var(--color-text)

.textBlock
  display: flex
  flex-direction: column
  gap: var(--one-half-rem)
  padding: 0 var(--space-sides-stories)
  width: 100%
  user-select: text
  -webkit-user-select: text
  -moz-user-select: text
  -ms-user-select: text

.sectionTitle
  font-size: var(--type-title)
  font-weight: 400

.tipsList
  list-style: decimal !important
  list-style-position: outside !important
  li
    list-style: decimal
    list-style-position: outside
    margin-left: var(--two-rem)
