@import '@/styles/vars.sass'

.field
  display: flex
  flex-direction: column
  gap: var(--half-rem)
  width: 100%

.label
  @include font-body
  color: var(--color-text)

.input
  appearance: none
  width: 100%
  min-width: 150px
  padding: 5px var(--one-rem) 6px
  border: 1px solid var(--color-text-secondary)
  border-radius: var(--border-radius-buttons)
  background: transparent
  color: var(--color-text)
  font: inherit
  font-size: var(--type-input)
  transition: border-color var(--transition-buttons), opacity var(--transition-buttons)

.input::placeholder
  color: var(--color-text-secondary)
  font-size: var(--type-input)

.input:focus
  outline: none
  border-color: var(--color-text)

.input:disabled
  opacity: var(--disabled-opacity)
  cursor: not-allowed
