@import '@/styles/vars.sass'

.button
  position: relative
  cursor: pointer
  transition: color 0.165s ease
  white-space: nowrap
  span
    position: relative

.primary
  color: var(--color-text)
  @include font-button
  &::after
    @include underline(var(--color-text))

.category
  color: var(--color-text)
  @include font-nav
  &::after
    @include underline(transparent)
  &[data-active="true"]
    &::after
      background: var(--color-text)

.nav
  display: flex
  flex-direction: row
  align-items: center
  gap: 6px
  @include font-nav
  span::after
    @include underline(transparent)
  &[data-active="true"]
    span::after
      @include underline(var(--color-text))
  &:hover
    @media (hover: hover)
      span::after
        @include underline(var(--color-text))

.button:disabled
  opacity: var(--disabled-opacity)
  color: var(--color-text-secondary)
  cursor: not-allowed
  &::after
    @include underline(transparent)
  span::after
    @include underline(transparent)
