@use '@/styles/vars' as *

.button
  display: inline-flex
  align-items: center
  position: relative
  cursor: pointer
  transition: color 0.165s ease
  white-space: nowrap
  overflow: visible
  span
    position: relative
  .icon, svg, .iconWrapper
    transition: transform 0.165s ease
    transform: rotate(0deg)
  &[data-active="true"]
    &[data-icon="plus"]
      .icon, svg, .iconWrapper
        transform: rotate(135deg)
  &[data-collapse="true"]
    span:first-child
      width: 0px !important

// Has underline
.primary
  @include font-button
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: 4px
  transition: gap var(--transition-buttons)
  span
    width: auto
    overflow: hidden
    transition: width var(--transition-header-toggle)
  span:first-child::after
    @include underline(transparent)
    transition: background var(--transition-buttons)
  &[data-active="true"]
    span:first-child::after
      @include underline(var(--color-text))
  span:first-child::after
    @include underline(var(--color-text))
  &[data-collapse="true"]
    gap: 0 !important
    span
      width: 0 !important

// Only icon, no text
.icon
  display: inline-flex
  svg
    width: 16px
    height: 16px

// Underline on hover and active. Has Nav-font
.nav
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: 4px
  @include font-nav
  transition: gap var(--transition-buttons)
  span
    width: auto
    overflow: hidden
    transition: width var(--transition-header-toggle)
  span:first-child::after
    @include underline(transparent)
    transition: background var(--transition-buttons)
  &[data-active="true"]
    span:first-child::after
      @include underline(var(--color-text))
  &:hover
    @media (hover: hover)
      span:first-child::after
        @include underline(var(--color-text))
  &[data-collapse="true"]
    gap: 0 !important
    span
      width: 0 !important

.button:disabled
  color: var(--color-text-secondary)
  cursor: not-allowed
  &::after
    @include underline(transparent)
  span:first-child::after
    @include underline(transparent)

.count
  position: absolute
  right: 0
  top: 0
  @include font-count
  color: var(--color-text-secondary)
  transform: translate(-5px, -6px)
